[user]
	name = Josia Scheytt
	email = josia.scheytt@mimacom.com
[core]
  attributesfile = ~/.gitattributes 
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
	default = current
[branch]
	autoSetupMerge = always
[init]
  defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
